@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom globals */

html, body { 
    height: 100%; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: aliceblue;
}


